{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <h3>Learn From Trackagram</h3>

    <h5>Curious about learning more?</h5>
    <p>Follow any of these links to learn more from some of our resouces.</p>

    <ul>
      <li><a target="_blank" rel="noopener noreferrer" href="https://www.garnethealth.org/news/basal-metabolic-rate-calculator#:~:text=Calculate%20Basal%20Metabolic%20Rate&text=Your%20basal%20metabolism%20rate%20is,4.330%20x%20age%20in%20years)">Learn how we calculate suggested calories</a></li>
    </ul>

{% endblock %}